In [ ]:
#Task01
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
#Task02
mytuple= (-10, 20, 25, 30, 40)
print(mytuple[2:-2])

(25,)

In [ ]:
#Task03
book_info = (("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291))
print("Size of the tuple is:",len(book_info))
for i in book_info:
    print(i)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#Task04 incomplete
book_info = (("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291))
a,b,c,d=book_info
print(b)

('Best Horror', 'The Institute', 75717)

In [ ]:
#Task05
box=0
given =  (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
number=int(input("Please Enter Your Number :"))
for i in given:
    if i==number:
        box+=1
print(number,"Appears",box,"times in the tuplebox")

Please Enter Your Number :1
1 Appears 0 times in the tuplebox

In [ ]:
#Task06
given = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
mylist= list(given)
mylist.reverse()
print(tuple(mylist))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#Task07
mydict1= {'Harry':15, 'Draco':8, 'Nevil':19}
mydict2= {'Ginie':18, 'Luna': 14}
mydict1.update(mydict2)
print(mydict1)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#Task08
string= input("Please Enter Your String :")
mylist= string.split(", ")
dic={}
value=0
counter=0
for i in mylist:
    newlist=i.split(":")
    keys=newlist[0]
    values=newlist[1]
    dic[keys]=int(values) #[Bujhinaai]
for i in dic.values():
    value+=i
    counter+=1
    avg=value/counter
print("Average is:",avg)
print(dic)
print(mylist)

Please Enter Your String :Jon:100, Dan:200, Rob:300
Average is: 200.0
{'Jon': 100, 'Dan': 200, 'Rob': 300}
['Jon:100', 'Dan:200', 'Rob:300']

In [ ]:
#Task09
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
mydict={}
number=int(input("Please Enter Your Number :"))
for key,value in exam_marks.items():
    if value>=number:
        mydict[key]=value
print(mydict)

Please Enter Your Number :200
{'Alden Cantrell': 200}

In [ ]:
#Task10
mydict= {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max=0
box={}
for key,value in mydict.items():
    if value>=max:
        max=value
        box=key
print("The highest selling book genre is :",box,"and the number of books sold are :",mydict[box])

The highest selling book genre is : mystery and the number of books sold are : 15

In [ ]:
#Task11
x = input()[1:-1].lower()
box = {}
box1 = {}
for i in x:
  if i in box:
    box[i]+= 1
  else:
    box[i] = 1
for i,j in box.items():
  if i == " ":
    continue
  else:
    box1[i] =j
print(box1)
#>./////////////////////////////////////////////////////////
inp=input()
mydict={}
inp=inp.replace(' ',"")
str1=""

for i in inp:
    if 65<= ord(i) <= 90:
        i = chr(ord(i)+32)
        str1+=i
    else:
        str1+=i

count=0
for char in str1:
  if char in mydict:
    mydict[char]+=1
  else:
    mydict[char]=1
print(mydict)

kkk
{'k': 1}
h
{'h': 1}

In [ ]:
#Task12
mydict = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
counter=0
for i,j in mydict.items():
    for k in j:
        counter+=1
print(counter)

9

In [ ]:
#Task13
mylist = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
mydict={}
for i in mylist:
    key=i[0]
    value=i[1]
    if key not in mydict.keys():
        mydict[key]= [value]     #List e ken?
    else:
        mydict[key].append(value)
print(mydict)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}